!!! 5
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.6.min.js');
    script(src='/javascript/moment.min.js')
    script(src='/javascript/tracking.js');
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body